<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="button_style.css">
    <title>Tema2PS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="display: flex; justify-content: center;flex-direction: column; align-items: center; height: 800px; align-items: center;">
    <h1>Admin</h1>
    <table style="font-size: 25px">
        <tr>
            <td>Name</td>
            <td>Price</td>
            <td>Quantity</td>
        </tr>
        <tr th:each="dish : ${dishes}">
            <td th:text="${dish.name}">Dish</td>
            <td th:text="${dish.price}">Dish</td>
            <td th:text="${dish.stock}">Dish</td>
        </tr>
    </table>
    <div style="display: flex; flex-direction: row; ">
        <button class="my_button" id="addDish" type="button" onclick="window.location.href='/addDish'">Add dish</button>
        <button class="my_button" id="modifyDish" type="button" onclick="window.location.href='/modifyDish'">Modify dish</button>
        <button class="my_button" id="deleteDish" type="button" onclick="window.location.href='/deleteDish'">Delete dish</button>
        <button class="my_button" id="createUser" type="button" onclick="window.location.href='/createUser'">Create user</button>
        <button class="my_button" id="raportOrder" type="button" onclick="window.location.href='/raportOrder'">Raport order</button>
        <button class="my_button" id="statisticView" type="button" onclick="window.location.href='/statisticView'">Statistics</button>
    </div>

</body>
</html>